body { 
    margin: 0; 
    overflow: hidden; 
    background: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#game-container { 
    width: 800px; 
    height: 400px; 
    position: relative; 
    border: 2px solid white;
}

.paddle, #ball {
    position: absolute;
    background: white;
}

.paddle {
    width: 10px;
    height: 80px;
}

#paddle-left {
    left: 10px;
}

#paddle-right {
    right: 10px;
}

#ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}