body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.game-container {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #000;
    border: 2px solid #fff;
}

.paddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #fff;
}

#paddle-left {
    left: 10px;
    top: 160px;
}

#paddle-right {
    right: 10px;
    top: 160px;
}

.ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    top: 195px;
    left: 395px;
}